$wi-width: 900px;
$wi-cols: 10;
$wi-gutter: 6px;
$wi-stacked-width: 90%;
$wi-stacked-breakpoint: 499px;
$wi-ie7: false;
$wi-responsive: true;

@import '_waffleiron.scss';

h1 {
  color: blue;
}
section, header, footer {
  @include row();
}
h1 {
  @include col(1);
}
