// waffleiron config - set these to match your grid */
$wi-width: 900px;
$wi-cols: 10;
$wi-gutter: 6px;
$wi-stacked-width: 90%;
$wi-stacked-breakpoint: 499px;
// if you want IE7 support via HTML/body tag conditionals add the line below */
$wi-ie7: false;
// if you want to turn off the responsiveness of Waffleiron set this to false */
$wi-responsive: true;

@import 'waffleiron';

h1 {
  color: blue;
}
section, header, footer {
  /* @include row(); */
}
h1 {
  /* @include col(1); */
}
